<div id="rightmenu" class="rightmenu_big">
	<div id="title"><?php echo loca("PICS_TITLE");?></div>
	<div id="content">
		<div id="contentscroll"  style="text-align:center;">
			<p class="headline"><?php echo loca("PICS_SCREENSHOTS");?></p>
			<div class="image">
				<a href="screenshot.php?pic=overview&type=JPG&path=img/">
					<img src="img/overview_t.jpg">
				</a>
			</div>
			<div class="image">
				<a href="screenshot.php?pic=buildings&type=JPG&path=img/">
					<img src="img/buildings_t.jpg">
				</a>
			</div>
			<div class="image">
				<a href="screenshot.php?pic=shipyard&type=JPG&path=img/">
					<img src="img/shipyard_t.jpg">
				</a>
			</div>
			<div class="image">
				<a href="screenshot.php?pic=empire&type=JPG&path=img/">
					<img src="img/empire_t.jpg">
				</a>
			</div>
			<p class="headline"><?php echo loca("PICS_WALLPAPERS");?></p>
			<div class="image">
				<a href="screenshot.php?pic=battleship_1280x1024&type=jpg&path=img/wallpapers/">
					<img src="img/battleship_t.jpg">
				</a>
			</div>
			<div class="image">
				<a href="screenshot.php?pic=destroyer_1280x1024&type=jpg&path=img/wallpapers/">
					<img src="img/destroyer_t.jpg">
				</a>
			</div>
		</div>
	</div>
</div>

