<div id="rightmenu" class="rightmenu_big">
	<div id="title"><?php echo loca("STORY_TITLE");?></div>
	<div id="content">
		<div id="contentscroll">
			<p class="storyParagraphHead"><?php echo loca("STORY_HEAD");?></p>
			<?php echo loca("STORY_TEXT");?>
			<a href="register.php" align="justify "class="joinLink"><?php echo loca("STORY_JOIN");?></a>
		</div>
	</div>
</div>
