<div id="rightmenu" class="rightmenu">
	<div id="title"><?php echo loca("HOME_TITLE");?></div>
	<div id="content">
		<div id="text1"><?php echo loca("HOME_TEXT1");?></div>
		<div id="register" class="bigbutton" onclick="document.location.href='register.php';"><?php echo loca("HOME_BIGBUTTON");?></div>
		<div id="text2"><?php echo loca("HOME_TEXT2");?></div>
	</div>
</div>