<div id="rightmenu" class="rightmenu_big">
	<div id="title"><?php echo loca("ABOUT_TITLE");?></div>
	<div id="content">
		<div id="contentscroll">
			<p class="aboutParagraphHead">  <img src="img/ogame_admiral.jpg" class="imageRight"> <?php echo loca("ABOUT_TEXT1");?></p>
			<p><?php echo loca("ABOUT_TEXT2"); ?>
				<p><?php echo loca("ABOUT_TEXT3"); ?></p>
			</p>
			<img src="img/technik.gif" class="imageLeft" />
			<p><?php echo loca("ABOUT_TEXT4");?></p>
			<p ><?php echo loca("ABOUT_TEXT5");?> </p>
			<p><?php echo loca("ABOUT_TEXT6");?></p>
			<img src="img/laser.gif" class="imageRight" />
			<p><?php echo loca("ABOUT_TEXT7");?></p>
			<p><?php echo loca("ABOUT_TEXT8");?></p>
			<p><?php echo loca("ABOUT_TEXT9");?></p>
			<a href="story.php"class="storyLink"><?php echo loca("ABOUT_STORY");?></a>
		</div>
	</div>
</div>