<html>
	<head>
		<meta name="author" content="Gameforge Productions GmbH" />
		<meta http-equiv="content-type" content="text/html; charset=<?php echo loca("META_CHARSET");?>" />
		<meta name="keywords" content="<?php echo loca("META_KEYWORDS");?>" />
		<meta name="description" content="<?php echo loca("META_DESCRIPTION");?>" />
		<meta name="robots" content="index, follow" />
		<meta name="language" content="ru" />
		<meta name="distribution" content="global" />
		<meta name="audience" content="all" />
		<meta name="author-mail" content="info@ogame.de" />
		<meta name="publisher" content="Originally by Gameforge Productions GmbH" />
		<meta name="copyright" content="... by Gameforge Productions GmbH" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<title><?php echo loca("SERVERNAME");?></title>
